# 8주차 과제

### 1.bag of word(bow)
 bow란 단어들의 순서를 고려하지 않고, 단어들의 빈도에 집중하는 방법이다.

In [4]:
from konlpy.tag import Okt #bow에 필요한 함수가져오기
import re  
okt=Okt()
import pandas as pd

In [5]:
movie_review= pd.read_csv("C:/Users/sungj/jspyth/movie_data.csv",encoding='UTF-16',header=None) #영화 리뷰를 가져오기

In [6]:
infin=movie_review[2]=='인피니티 워' #영화의 종류가 5개라서 개별적으로 추출
movie1=movie_review[infin]
movie1=(movie1[0]) #영화의 리뷰만 추출
movie1=pd.DataFrame(movie1) #시리즈를 데이터프레임으로 저장

In [7]:
lala=movie_review[2]=='라라랜드' 
movie2=movie_review[lala]
movie2=pd.DataFrame(movie2[0])

In [8]:
hor=movie_review[2]=='곤지암'
movie3=movie_review[hor]
movie3=(movie3[0])

In [9]:
god=movie_review[2]=='신과함께'
movie4=movie_review[god]
movie4=(movie4[0])

In [10]:
coco=movie_review[2]=='코코'
movie5=movie_review[coco]
movie5=(movie5[0])

In [11]:
movie1.to_csv("movie1.csv") #csv 파일로 영화 리뷰데이터를 저장
movie2.to_csv("movie2.csv")
movie3.to_csv("movie3.csv")
movie4.to_csv("movie4.csv")
movie5.to_csv("movie5.csv")

In [12]:
movie_sum = pd.read_csv("과제8.csv") #하나의 리뷰데이터로 합쳐서 불러오기
movie_sum=str(movie_sum) #bow를 진행하기 위해 데이터 타입을 string으로 변경

In [13]:
token=okt.nouns(movie_sum)  #토큰화를 통해서 명사만 추출

In [14]:
word2index={}  
bow=[]  
for movie in token:  
         if movie not in word2index.keys():  
             word2index[movie]=len(word2index)  
# token을 읽으면서, word2index에 없는 (not in) 단어는 새로 추가하고, 이미 있는 단어는 넘김  
             bow.insert(len(word2index)-1,1)
# BoW 전체에 전부 기본값 1로 설정
         else:
            index=word2index.get(movie)
# 재등장하는 단어의 인덱스 가져오기
            bow[index]=bow[index]+1
# 재등장한 단어는 해당하는 인덱스의 위치에 1을 더함
print(word2index)

{'영화': 0, '리뷰': 1, '인피니티': 2, '워': 3, '오': 4, '종합': 5, '선물': 6, '셋트': 7, '크레딧': 8, '때': 9, '충격': 10, '나중': 11, '더': 12, '라라': 13, '랜드': 14, '사랑': 15, '음': 16, '기대': 17, '곤지암': 18, '긴장감': 19, '다른': 20, '재미': 21, '빨': 22, '리보': 23, '신': 24, '진심': 25, '거': 26, '사람': 27, '감동': 28, '너': 29, '코코': 30, '누군가': 31, '조카': 32, '할아버지': 33, '생각': 34, '펑펑': 35}

In [15]:
str(bow)

'[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]'

### 2.tfidf
  TF-IDF란 단어의 빈도와 역 문서 빈도를 사용하여 각 단어들마다 중요한 정도를 가중치로 주는 방법이다.

In [16]:
from math import log #TF-IDF 계산을 위한 함수불러오기

In [17]:
movie11 =str(movie1) #str로 데이터 타입변경
movie22 =str(movie2)
movie33= str(movie3)
movie44= str(movie4)
movie55= str(movie5)

In [18]:
movie1=str(okt.nouns(movie11)) #명사만 추출하여 tF-idf 실행하기위해 nouns를 통해 명사만 추출하고, 데이터 타입을 str로 바꿈
movie2=str(okt.nouns(movie22))
movie3=str(okt.nouns(movie33))
movie4=str(okt.nouns(movie44))
movie5=str(okt.nouns(movie55))

In [19]:
movie = [movie1,movie2,movie3,movie4,movie5] #영화5개를 리스트에 저장
movie2 = list(set(w for rev in movie for w in rev.split())) #영화 5개를 split를 사용해서 나누고, 데이터 타입을 list로 변경

In [20]:
N = len(movie)
def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for rev in movie:
        df += t in rev
    return log(N/(df + 1))

def tfidf(t, d):
    return tf(t,d)* idf(t)

In [22]:
result = []
for i in range(N): # tf계산
    result.append([])
    d = movie[i]
    for j in range(len(movie2)):
        t = movie2[j]        
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = movie2)
tf_

,"'것',","'추억',","'전형',","'퓨리',","'크레딧',","'학년',","'말',","'한국',","'승리',","'재미',",...,"'미국',","'사람',","'다른',",'그'],"'실망',","'법',","'매틱',","'여',","'등',","'딸',"
0,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,0
2,0,0,1,0,0,0,0,1,1,3,...,1,0,1,0,0,0,0,1,0,0
3,0,0,1,0,0,1,1,2,0,0,...,0,2,0,1,0,0,0,0,0,1
4,2,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
result = []#idf계산
for j in range(len(movie2)):
    t = movie2[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = movie2, columns = ["IDF"])
idf_

             IDF
'것',    0.510826
'추억',   0.916291
'전형',   0.510826
'퓨리',   0.916291
'크레딧',  0.916291
...          ...
'법',    0.916291
'매틱',   0.916291
'여',    0.916291
'등',    0.916291
'딸',    0.916291

[187 rows x 1 columns]

In [24]:
result = []#tf-idf계산
for i in range(N):
    result.append([])
    d = movie[i]
    for j in range(len(movie2)):
        t = movie2[j]

        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = movie2)
tfidf_

,"'것',","'추억',","'전형',","'퓨리',","'크레딧',","'학년',","'말',","'한국',","'승리',","'재미',",...,"'미국',","'사람',","'다른',",'그'],"'실망',","'법',","'매틱',","'여',","'등',","'딸',"
0,0.000000,0.000000,0.000000,0.916291,0.916291,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.510826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.916291,0.916291,0.916291,0.000000,0.916291,0.000000
2,0.000000,0.000000,0.510826,0.000000,0.000000,0.000000,0.000000,0.510826,0.916291,1.532477,...,0.916291,0.000000,0.916291,0.000000,0.000000,0.000000,0.000000,0.916291,0.000000,0.000000
3,0.000000,0.000000,0.510826,0.000000,0.000000,0.510826,0.916291,1.021651,0.000000,0.000000,...,0.000000,1.832581,0.000000,0.916291,0.000000,0.000000,0.000000,0.000000,0.000000,0.916291
4,1.021651,0.916291,0.000000,0.000000,0.000000,0.510826,0.000000,0.000000,0.000000,0.510826,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### 3. 사이킷런의 CounterVectorizer

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
movie = [movie11,movie22,movie33,movie44,movie55]

In [59]:
count_vec = CountVectorizer()
m = count_vec.fit_transform(movie)
m.toarray()

array([[0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)